html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

div {
  display:inline-block;
  width: 33%;
}

@media(max-device-width: 480px){
  div {
    display:block;
    width: 100%;
  }
}